.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 50%;
  z-index: 100;
  overflow: hidden;
  background-color: white;
}

.header {
  background: #17a2b8;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.user-form__button {
  margin: 20px 0;
  text-align: left;
}

.user-form__button button {
  background-color: none;
  font-size: 20px;
  color: #17a2b8;
  border:1px solid #17a2b8;
  padding: 5px 20px;
  border-radius: 3px;
}
.user-form__button button:hover {
  background-color: #17a2b8;
  color: white;
}